<section class="section">
  <div class="container">
    <h1 class="center-align">Acerca de Bibliotec</h1>
    <p class="flow-text center-align">
¡Bienvenido a la Biblioteca Escolar "Bibliotec"!

Estamos encantados de darte la más cálida bienvenida a nuestro rincón de conocimiento y descubrimiento.
En "Bibliotec", no solo encontrarás estantes llenos de libros, sino también un hogar para tu curiosidad,
un espacio donde cada página es una puerta a nuevas experiencias.
    </p>
    <p class="divider"></p>
  </div>
</section>